# Ignorer les fichiers générés par Metals (LSP pour Scala)
.metals/
.metals.sbt

# Ignorer les fichiers de compilation Scala (sbt, coursier, etc.)
*.class
*.log
*.cache
*.history
*.lock
*.tmp
.idea/

# Ignorer les fichiers générés par SBT
dist/
lib_managed/
src_managed/
app/target/
.sbt/
.sbtboot/
.ivy2/
.coursier/

# Ignorer les fichiers de Build Server Protocol (BSP)
.bsp/

# Ignorer les fichiers de l'éditeur VS Code
.vscode/

# Ignorer les fichiers système et temporaires
.DS_Store
Thumbs.db

app/data/
brouillon/
.scalafmt.conf
.scala-build/
app/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
app/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
app/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
app/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
app/project/target/streams/_global/update/_global/streams/out
app/project/target/streams/compile/dependencyClasspath/_global/streams/export
app/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
app/project/target/streams/compile/managedClasspath/_global/streams/export
app/project/target/streams/runtime/dependencyClasspath/_global/streams/export
app/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
app/project/target/streams/runtime/fullClasspath/_global/streams/export
app/project/target/streams/runtime/managedClasspath/_global/streams/export
app/target/scala-2.12/update/update_cache_2.12/inputs
app/target/scala-2.12/update/update_cache_2.12/output
app/target/scala-2.12/zinc/inc_compile_2.12.zip
app/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
app/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
app/target/streams/_global/update/_global/streams/out
app/target/streams/compile/compileIncremental/_global/streams/out
app/target/streams/compile/dependencyClasspath/_global/streams/export
app/target/streams/compile/externalDependencyClasspath/_global/streams/export
app/target/streams/compile/incOptions/_global/streams/out
app/target/streams/compile/managedClasspath/_global/streams/export
app/target/streams/runtime/externalDependencyClasspath/_global/streams/export
app/target/streams/runtime/managedClasspath/_global/streams/export
app/project/pugins.sbt
app/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
app/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
app/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
app/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
app/project/target/streams/_global/update/_global/streams/out
app/project/target/streams/compile/dependencyClasspath/_global/streams/export
app/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
app/project/target/streams/compile/managedClasspath/_global/streams/export
app/project/target/streams/runtime/dependencyClasspath/_global/streams/export
app/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
app/project/target/streams/runtime/fullClasspath/_global/streams/export
app/project/target/streams/runtime/managedClasspath/_global/streams/export
app/target/scala-2.12/update/update_cache_2.12/inputs
app/target/scala-2.12/update/update_cache_2.12/output
app/target/scala-2.12/zinc/inc_compile_2.12.zip
app/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
app/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
app/target/streams/_global/update/_global/streams/out
app/target/streams/compile/compileIncremental/_global/streams/out
app/target/streams/compile/dependencyClasspath/_global/streams/export
app/target/streams/compile/externalDependencyClasspath/_global/streams/export
app/target/streams/compile/incOptions/_global/streams/out
app/target/streams/compile/managedClasspath/_global/streams/export
app/target/streams/runtime/externalDependencyClasspath/_global/streams/export
app/target/streams/runtime/managedClasspath/_global/streams/export
